@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q5p7nf');
  src:  url('fonts/icomoon.eot?q5p7nf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q5p7nf') format('truetype'),
    url('fonts/icomoon.woff?q5p7nf') format('woff'),
    url('fonts/icomoon.svg?q5p7nf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-graduate:before {
  content: "\e901";
}
.icon-bowling:before {
  content: "\e902";
}
.icon-washingmachine:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-display:before {
  content: "\e956";
}
